.chat-container {
  flex: 0.7;
  display: flex;
  flex-direction: column;

  .chat-header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #ededed;

    .chat-personInfo-wrapper {
      flex: 1;
      display: flex;
      gap: 10px;
      align-items: center;

      .person-avatar {
        border-radius: 50%;
        width: 30px;
        height: 30px;
      }

      .chat-info-wrapper {
        display: flex;
        flex-direction: column;

        h3 {
          font-size: 16px;
        }

        p {
          font-size: 12px;
          color: darkgrey;
        }
      }
    }

    .chat-action-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .left-action-wrapper {
        border-right: 1px solid lightgrey;
        padding-right: 15px;
        display: flex;
        align-items: center;
        gap: 15px;
      }

      .right-action-wrapper {
        padding-left: 15px;
        display: flex;
        align-items: center;
        gap: 15px;
      }
    }
  }

  .chat-body {
    flex: 1;
    background-image: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png');
    background-repeat: repeat;
    background-position: center;
    overflow: scroll;
    padding: 30px;

    .chat-message {
      font-size: 16px;
      font-weight: 500;
      padding: 10px;
      border-radius: 10px;
      background-color: #ffffff;
      width: fit-content;
      width: -moz-fit-content;
      margin-bottom: 20px;
      position: relative;

      .chat-name {
        position: absolute;
        top: -15px;
        font-weight: 700;
        font-size: xx-small;
        white-space: nowrap;
      }

      .chat-stamp {
        margin-left: 10px;
        font-size: xx-small;
      }
    }

    // .chat-receiver {
    //   margin-left: auto;
    //   background-color: #dcf8c6;
    // }
  }

  .chat-footer {
    background-color: #ededed;
    display: flex;
    gap: 15px;
    padding: 5px 15px;
    align-items: center;
    // justify-content: space-between;

    .action-icon-wrapper {
      cursor: pointer;
      padding: 1px 3px 0.1px 3px;
      color: rgb(107, 105, 105);
    }

    .action-icon-wrapper:hover {
      background-color: lightgray;
      border-radius: 50%;
    }

    form {
      flex: 1;
      background-color: #fefefe;
      border-radius: 10px;

      input {
        width: 100%;
        height: 35px;
        background: transparent;
        padding-left: 15px;
        outline: none;
        border: none;
        color: black;
      }

      button {
        display: none;
      }
    }
  }
}

.no-chat-container {
  flex: 0.7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;

  img {
    width: 50%;
  }

  h3 {
    font-size: 16px;
  }
}
